/* MENU BUTTON */
.menu {
  color: white;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

h1 {
  line-height: 0%;
}

/* FORM HEADER */
h4 {
  color: #263238;
}

/* FORM FOOTER TEXT */
p {
  font-size: 14px;
  margin: 0px;
  line-height: 2;
}

/* SIGN UP LINK */
.sign-up {
  color: white;
  font-style: oblique;
  font-size: 14px;
}
.sign-up:hover {
  font-weight: 900;
  text-decoration: underline;
}

#signUpDiv {
  margin-top: 0.75rem;
}

/*-----------------------------------------------------------------------------------*/
/* CUBE ANIMATIONS ------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
body {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100vw;
  height: 100vh;
  -webkit-perspective: 6000px;
  perspective: 6000px;
  background: #000;
  overflow: hidden;
}

/* GENERAL CONTENT */
body #wrap {
  zoom: 0.95;
  width: 350px;
  height: 350px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: updown 5s ease-in-out infinite alternate;
  animation: updown 5s ease-in-out infinite alternate;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

#wrap {
  margin-top: 100px;
}

/* ELLIPSE */
body #wrap:before {
  content: "";
  position: absolute;
  width: 400%;
  height: 350%;
  left: -150%;
  top: -150%;
  background: radial-gradient(ellipse at center, rgb(255, 23, 68) 0%, transparent 90%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: fade 5s ease-in-out infinite alternate;
  animation: fade 5s ease-in-out infinite alternate;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  border-radius: 100%;
}

/* FADE TRANSFORMATIONS */
@-webkit-keyframes fade {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  75% {
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    opacity: 1;
  }
  97.5% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes fade {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  75% {
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    opacity: 1;
  }
  97.5% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* POSITION TRANSFORMATIONS */
@-webkit-keyframes updown {
  0% {
    -webkit-transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    -webkit-transform-origin: 50% 75%;
    transform-origin: 50% 75%;
  }
  10% {
    -webkit-transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    -webkit-transform-origin: 50% 75%;
    transform-origin: 50% 75%;
  }
  90% {
    -webkit-transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes updown {
  0% {
    -webkit-transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    -webkit-transform-origin: 50% 75%;
    transform-origin: 50% 75%;
  }
  10% {
    -webkit-transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    -webkit-transform-origin: 50% 75%;
    transform-origin: 50% 75%;
  }
  90% {
    -webkit-transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

/* POSITIONING OF HTML ELEMENTS */
body #wrap .cube {
  position: absolute;
  width: 100%;
  height: 33.333333%;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg) rotateY(315deg);
  transform: rotateX(0deg) rotateY(315deg);
  -webkit-animation: spinback 5s ease-in-out infinite;
  animation: spinback 5s ease-in-out infinite;
}
body #wrap .cube:nth-of-type(even) {
  animation-direction: reverse;
}
body #wrap .cube:nth-of-type(even) * {
  animation-direction: reverse;
}
body #wrap .cube:nth-of-type(even) *:before {
  animation-direction: reverse !important;
}
body #wrap .cube:nth-of-type(1) {
  top: 0%;
}
body #wrap .cube:nth-of-type(even) {
  animation-direction: reverse;
}
body #wrap .cube:nth-of-type(even) * {
  animation-direction: reverse;
}
body #wrap .cube:nth-of-type(even) *:before {
  animation-direction: reverse !important;
}
body #wrap .cube:nth-of-type(2) {
  top: 30%;
}
body #wrap .cube:nth-of-type(even) {
  animation-direction: reverse;
}
body #wrap .cube:nth-of-type(even) * {
  animation-direction: reverse;
}
body #wrap .cube:nth-of-type(even) *:before {
  animation-direction: reverse !important;
}
body #wrap .cube:nth-of-type(3) {
  top: 60%;
}

/* SPIN TRANSFORMATIONS */
@-webkit-keyframes spinback {
  10% {
    -webkit-transform: rotateX(0deg) rotateY(315deg);
    transform: rotateX(0deg) rotateY(315deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(-45deg);
    transform: rotateX(0deg) rotateY(-45deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(-45deg);
    transform: rotateX(0deg) rotateY(-45deg);
  }
}
@keyframes spinback {
  10% {
    -webkit-transform: rotateX(0deg) rotateY(315deg);
    transform: rotateX(0deg) rotateY(315deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(-45deg);
    transform: rotateX(0deg) rotateY(-45deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(-45deg);
    transform: rotateX(0deg) rotateY(-45deg);
  }
}
@-webkit-keyframes spinback2 {
  10% {
    -webkit-transform: rotateX(0deg) rotateY(-315deg);
    transform: rotateX(0deg) rotateY(-315deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
}
@keyframes spinback2 {
  10% {
    -webkit-transform: rotateX(0deg) rotateY(-315deg);
    transform: rotateX(0deg) rotateY(-315deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
}
/* CSS TRANSFORMATIONS ON PAUSE */
body #wrap .cube div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body #wrap .cube div.back:before {
  -webkit-transform: translateZ(-50px);
  transform: translateZ(-50px);
}
body #wrap .cube div * {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body #wrap .cube div h1 {
  width: calc(100% - 10px);
  left: 5px;
  position: relative;
  margin: 0;
  font-size: 60px;
  font-weight: 900;
  font-family: Futura, sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
body #wrap .cube div h1 .word {
  position: relative;
  width: 100%;
}
body #wrap .cube div h1 .word .char {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50%;
  height: 100%;
  color: transparent;
}
body #wrap .cube div h1 .word .char:before {
  content: attr(data-char);
  color: #fff;
  font-weight: 900;
  -webkit-text-stroke: 5px #000;
  position: absolute;
  -webkit-transform: rotateX(0deg) rotateY(-315deg);
  transform: rotateX(0deg) rotateY(-315deg);
  -webkit-animation: spinback2 5s ease-in-out infinite;
  animation: spinback2 5s ease-in-out infinite;
  text-shadow: 0 0 40px #000;
}
body #wrap .cube div h1 .word .char:nth-of-type(1) {
  left: calc((0) * 25%);
}
body #wrap .cube div h1 .word .char:nth-of-type(2) {
  left: calc((1) * 25%);
}
body #wrap .cube div h1 .word .char:nth-of-type(3) {
  left: calc((2) * 25%);
}
body #wrap .cube div h1 .word .char:nth-of-type(4) {
  left: calc((3) * 25%);
}
body #wrap .cube div.front {
  -webkit-transform: translateZ(175px);
  transform: translateZ(175px);
}
body #wrap .cube div.front h1 .word .char:nth-of-type(-n + 2):before {
  color: #000;
  -webkit-text-stroke: 3px #fff;
}
body #wrap .cube div.back {
  -webkit-transform: translateZ(-175px) rotateY(0deg) rotateX(0deg);
  transform: translateZ(-175px) rotateY(0deg) rotateX(0deg);
}
body #wrap .cube div.back h1 .word .char {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
body #wrap .cube div.back h1 .word .char:nth-of-type(n + 3):before {
  color: #000;
  -webkit-text-stroke: 3px #fff;
}
body #wrap .cube div.back h1 .word .char:before {
  -webkit-animation: spinback3 5s ease-in-out infinite;
  animation: spinback3 5s ease-in-out infinite;
  -webkit-transform: rotateX(0deg) rotateY(-315deg);
  transform: rotateX(0deg) rotateY(-315deg);
}

/* MORE SPIN TRANSFROMATIONS */
@-webkit-keyframes spinback3 {
  10% {
    -webkit-transform: rotateX(0deg) rotateY(-315deg);
    transform: rotateX(0deg) rotateY(-315deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
}
@keyframes spinback3 {
  10% {
    -webkit-transform: rotateX(0deg) rotateY(-315deg);
    transform: rotateX(0deg) rotateY(-315deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
}
/* CSS TRANSFORMATIONS ON PAUSE */
body #wrap .cube div.left {
  -webkit-transform-origin: left;
  transform-origin: left;
  left: 100%;
  -webkit-transform: translateZ(175px) rotateY(90deg);
  transform: translateZ(175px) rotateY(90deg);
}
body #wrap .cube div.left h1 .word .char {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
body #wrap .cube div.right {
  -webkit-transform-origin: right;
  transform-origin: right;
  left: -100%;
  -webkit-transform: translateZ(175px) rotateY(-90deg);
  transform: translateZ(175px) rotateY(-90deg);
}
body #wrap .cube div.right h1 .word .char {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
body #wrap .cube div.right h1 .word .char:before {
  -webkit-animation: spinback2 5s ease-in-out infinite;
  animation: spinback2 5s ease-in-out infinite;
}
body {
  background-color: white;
}
/*---------------------------------------------------------------------------------------*/
/* END CUBE ANIMATIONS ------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

label.active {
  color: white;
}

.account {
  padding-left: 1rem;
}
