/* MENU BUTTON */
.menu {
  color: white;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.sign-in-form {
  text-align: left;
}

.sign-in-error {
  color: red;
  margin-top: 18px;
}

/* FORM HEADER */
h4 {
  color: #263238;
}

/* FORM FOOTER TEXT */
p {
  font-size: 14px;
  margin: 0px;
  line-height: 2;
}

/* SIGN UP LINK */
.sign-up {
  color: white;
  font-style: oblique;
  font-size: 14px;
}
.sign-up:hover {
  font-weight: 900;
  text-decoration: underline;
}

#signUpDiv {
  margin-top: 0.75rem;
}

.account {
  padding-left: 1rem;
}

#signup-input {
  color: white;
}

#first_name,
#last_name,
#new_username,
#new_password,
#confirm_password {
  color: white;
}

#logo-animate {
  padding-top: 5rem;
  padding-left: 2rem;
}

#form-header {
  margin-bottom: 0px;
  padding-left: 0.15em;
}

.username {
  margin-bottom: 0.25em;
}

.password {
  margin-bottom: 0em;
}

#one {
  color: white;
  margin-bottom: 0.25em;
}

#signUpDiv {
  padding-left: 0.18em;
  margin-top: 0.5em;
}

/* label color */
#signup-input .modal-label {
  color: white;
}
/* label focus color */
#signup-input input[type="text"]:focus + .modal-label {
  color: white;
}

/* helper-text focus color */
.helper-text:focus {
  color: white;
}

/* label underline focus color */
#signup-input input[type="text"]:focus:enabled,
#signup-input input[type="password"]:focus:enabled {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

/* valid color */
#signup-input input[type="text"]:focus.valid:enabled,
#signup-input input[type="password"]:focus.valid:enabled {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green;
}
/* invalid color */
#signup-input input[type="text"].invalid:focus:enabled,
#signup-input input[type="password"].invalid:focus:enabled {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

/* helper text styling */
#signup-input .helper-text {
  display: block;
  font-size: 12px;
  color: #455a64;
  line-height: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  float: left;
}

/* helper text styling on hover */
#signup-input .helper-text:hover {
  color: #b0bec5;
}

/* modal styling */
#signUpModal {
  background-color: #263238;
}
.modal-content.center {
  padding-top: 4rem;
  padding-bottom: 0px;
  margin-right: 1rem;
  margin-left: 1rem;
}

#submit-modal {
  margin-left: 8.6rem;
  margin-right: 8.58rem;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  align-content: center;
  background-color: #263238;
  border-bottom-style: solid;
  border-bottom-width: 0.25rem;
  border-bottom-color: #455a64;
  border-right-style: solid;
  border-right-width: 0.25rem;
  border-right-color: #455a64;
  border-left-style: solid;
  border-left-width: 0.25rem;
  border-left-color: #455a64;
}

.modal-label,
#modal-title {
  color: #f44336;
}

.modal-label {
  font-size: 18px;
}

#modal-title {
  padding-bottom: 2rem;
  padding-top: 4rem;
  margin-right: 6rem;
  margin-left: 6rem;
  margin-bottom: 0rem;
  background-color: #263238;
  border-top-style: solid;
  border-top-width: 0.25rem;
  border-top-color: #455a64;
  border-right-style: solid;
  border-right-width: 0.25rem;
  border-right-color: #455a64;
  border-left-style: solid;
  border-left-width: 0.25rem;
  border-left-color: #455a64;
}

#text {
  color: white;
}

#modal-form {
  background-color: #263238;
  padding-top: 2rem;
  margin-right: 6rem;
  margin-left: 6rem;
  margin-bottom: 0rem;
  border-right-style: solid;
  border-right-width: 0.25rem;
  border-right-color: #455a64;
  border-left-style: solid;
  border-left-width: 0.25rem;
  border-left-color: #455a64;
}

/*-----------------------------------------------------------------------------------*/
/* CUBE ANIMATIONS ------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
body {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100vw;
  height: 100vh;
  -webkit-perspective: 6000px;
  perspective: 6000px;
  background: #000;
  overflow: hidden;
}

/* GENERAL CONTENT */
body #wrap {
  zoom: 0.95;
  width: 350px;
  height: 350px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: updown 5s ease-in-out infinite alternate;
  animation: updown 5s ease-in-out infinite alternate;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

#wrap {
  margin-top: 100px;
}

/* ELLIPSE */
body #wrap:before {
  content: "";
  position: absolute;
  width: 400%;
  height: 350%;
  left: -150%;
  top: -150%;
  background: radial-gradient(#f44336, #263238, transparent);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: fade 5s ease-in-out infinite alternate;
  animation: fade 5s ease-in-out infinite alternate;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  border-radius: 100%;
}

/* FADE TRANSFORMATIONS */
@-webkit-keyframes fade {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  75% {
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    opacity: 1;
  }
  97.5% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
@keyframes fade {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  75% {
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    opacity: 1;
  }
  97.5% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}

/* POSITION TRANSFORMATIONS */
@-webkit-keyframes updown {
  0% {
    -webkit-transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    -webkit-transform-origin: 50% 75%;
    transform-origin: 50% 75%;
  }
  10% {
    -webkit-transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    -webkit-transform-origin: 50% 75%;
    transform-origin: 50% 75%;
  }
  90% {
    -webkit-transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes updown {
  0% {
    -webkit-transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    -webkit-transform-origin: 50% 75%;
    transform-origin: 50% 75%;
  }
  10% {
    -webkit-transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    transform: scale(0.75) translateY(-15%) rotateX(60deg) scaleY(1.75);
    -webkit-transform-origin: 50% 75%;
    transform-origin: 50% 75%;
  }
  90% {
    -webkit-transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    transform: scale(0.75) rotateX(0deg) translateY(12.5%);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

/* POSITIONING OF HTML ELEMENTS */
body #wrap .cube {
  position: absolute;
  width: 100%;
  height: 33.333333%;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg) rotateY(315deg);
  transform: rotateX(0deg) rotateY(315deg);
  -webkit-animation: spinback 5s ease-in-out infinite;
  animation: spinback 5s ease-in-out infinite;
}
body #wrap .cube:nth-of-type(even) {
  animation-direction: reverse;
}
body #wrap .cube:nth-of-type(even) * {
  animation-direction: reverse;
}
body #wrap .cube:nth-of-type(even) *:before {
  animation-direction: reverse !important;
}
body #wrap .cube:nth-of-type(1) {
  top: 0%;
}
body #wrap .cube:nth-of-type(even) {
  animation-direction: reverse;
}
body #wrap .cube:nth-of-type(even) * {
  animation-direction: reverse;
}
body #wrap .cube:nth-of-type(even) *:before {
  animation-direction: reverse !important;
}
body #wrap .cube:nth-of-type(2) {
  top: 30%;
}
body #wrap .cube:nth-of-type(even) {
  animation-direction: reverse;
}
body #wrap .cube:nth-of-type(even) * {
  animation-direction: reverse;
}
body #wrap .cube:nth-of-type(even) *:before {
  animation-direction: reverse !important;
}
body #wrap .cube:nth-of-type(3) {
  top: 60%;
}

/* SPIN TRANSFORMATIONS */
@-webkit-keyframes spinback {
  10% {
    -webkit-transform: rotateX(0deg) rotateY(315deg);
    transform: rotateX(0deg) rotateY(315deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(-45deg);
    transform: rotateX(0deg) rotateY(-45deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(-45deg);
    transform: rotateX(0deg) rotateY(-45deg);
  }
}
@keyframes spinback {
  10% {
    -webkit-transform: rotateX(0deg) rotateY(315deg);
    transform: rotateX(0deg) rotateY(315deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(-45deg);
    transform: rotateX(0deg) rotateY(-45deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(-45deg);
    transform: rotateX(0deg) rotateY(-45deg);
  }
}
@-webkit-keyframes spinback2 {
  10% {
    -webkit-transform: rotateX(0deg) rotateY(-315deg);
    transform: rotateX(0deg) rotateY(-315deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
}
@keyframes spinback2 {
  10% {
    -webkit-transform: rotateX(0deg) rotateY(-315deg);
    transform: rotateX(0deg) rotateY(-315deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
}
/* CSS TRANSFORMATIONS ON PAUSE */
body #wrap .cube div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body #wrap .cube div.back:before {
  -webkit-transform: translateZ(-50px);
  transform: translateZ(-50px);
}
body #wrap .cube div * {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body #wrap .cube div h1 {
  width: calc(100% - 10px);
  left: 5px;
  position: relative;
  margin: 0;
  font-size: 60px;
  font-weight: 900;
  font-family: Futura, sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
body #wrap .cube div h1 .word {
  position: relative;
  width: 100%;
}
body #wrap .cube div h1 .word .char {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50%;
  height: 100%;
  color: transparent;
}
body #wrap .cube div h1 .word .char:before {
  content: attr(data-char);
  color: #fff;
  font-weight: 900;
  -webkit-text-stroke: 5px #000;
  position: absolute;
  -webkit-transform: rotateX(0deg) rotateY(-315deg);
  transform: rotateX(0deg) rotateY(-315deg);
  -webkit-animation: spinback2 5s ease-in-out infinite;
  animation: spinback2 5s ease-in-out infinite;
  text-shadow: 0 0 40px #000;
}
body #wrap .cube div h1 .word .char:nth-of-type(1) {
  left: calc((0) * 25%);
}
body #wrap .cube div h1 .word .char:nth-of-type(2) {
  left: calc((1) * 25%);
}
body #wrap .cube div h1 .word .char:nth-of-type(3) {
  left: calc((2) * 25%);
}
body #wrap .cube div h1 .word .char:nth-of-type(4) {
  left: calc((3) * 25%);
}
body #wrap .cube div.front {
  -webkit-transform: translateZ(175px);
  transform: translateZ(175px);
}
body #wrap .cube div.front h1 .word .char:nth-of-type(-n + 2):before {
  color: #000;
  -webkit-text-stroke: 3px #fff;
}
body #wrap .cube div.back {
  -webkit-transform: translateZ(-175px) rotateY(0deg) rotateX(0deg);
  transform: translateZ(-175px) rotateY(0deg) rotateX(0deg);
}
body #wrap .cube div.back h1 .word .char {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
body #wrap .cube div.back h1 .word .char:nth-of-type(n + 3):before {
  color: #000;
  -webkit-text-stroke: 3px #fff;
}
body #wrap .cube div.back h1 .word .char:before {
  -webkit-animation: spinback3 5s ease-in-out infinite;
  animation: spinback3 5s ease-in-out infinite;
  -webkit-transform: rotateX(0deg) rotateY(-315deg);
  transform: rotateX(0deg) rotateY(-315deg);
}

/* MORE SPIN TRANSFROMATIONS */
@-webkit-keyframes spinback3 {
  10% {
    -webkit-transform: rotateX(0deg) rotateY(-315deg);
    transform: rotateX(0deg) rotateY(-315deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
}
@keyframes spinback3 {
  10% {
    -webkit-transform: rotateX(0deg) rotateY(-315deg);
    transform: rotateX(0deg) rotateY(-315deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(45deg);
    transform: rotateX(0deg) rotateY(45deg);
  }
}
/* CSS TRANSFORMATIONS ON PAUSE */
body #wrap .cube div.left {
  -webkit-transform-origin: left;
  transform-origin: left;
  left: 100%;
  -webkit-transform: translateZ(175px) rotateY(90deg);
  transform: translateZ(175px) rotateY(90deg);
}
body #wrap .cube div.left h1 .word .char {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
body #wrap .cube div.right {
  -webkit-transform-origin: right;
  transform-origin: right;
  left: -100%;
  -webkit-transform: translateZ(175px) rotateY(-90deg);
  transform: translateZ(175px) rotateY(-90deg);
}
body #wrap .cube div.right h1 .word .char {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
body #wrap .cube div.right h1 .word .char:before {
  -webkit-animation: spinback2 5s ease-in-out infinite;
  animation: spinback2 5s ease-in-out infinite;
}
body {
  background-color: white;
}
/*---------------------------------------------------------------------------------------*/
/* END CUBE ANIMATIONS ------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

span[data-error]:after {
  white-space: nowrap;
}
