.loading,
.error {
  color: white;
  text-align: center;
}
.page-container {
  padding-left: 8em;
  padding-right: 6em;
  margin: 0em;
}
.title {
  color: white;
}

.sub-title {
  color: white;
}
#popular-games,
#search-games {
  display: block;
}

#popular-games {
  padding-left: 8px;
}

#search-bar {
  padding-top: 2em;
}

#popular-games {
  padding-left: 5px;
  padding-right: 5px;
}

.searchImage {
  padding-top: 20px;
  padding-left: 20px;
}
